<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LoginFB</title>
  </head>
  <body>
    <a href="/logout">LOGOUT</a>
    <p>
      <strong>id: <%=user.username %></strong> </br>
      <strong>Name:</strong><%= user.name %>
    </p>
    <p>Welcome To Website Login FaceBook</p>
  </body>
</html>
