<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Facebook</title>
  </head>
  <body>
    <a href="/auth/fb">
      <button type="button" name="button">Login FaceBook</button>
    </a>
  </body>
</html>
